@tailwind base;
@tailwind components;
@tailwind utilities;

/* A style sheet for animations only */


.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  